.lista .info{
    padding: 0 0 24px 24px;
}

.lista li{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.lista ul img{
    width: 43px;
    height: 43px;
}

.lista h3{
    margin: 0;
    margin-bottom: 10px;
}

.lista p{
    margin: 0;
    font-size: 13px;
    font-weight: 500;
}

.lista p a{
    color: #1cb0f6;
    font-weight: 800;
    text-decoration: none;
}
.desktop{
    display: none;
}
