.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 24px 12px;
}

.principal figure{
    margin: 0;
    width: 70%;
    max-width: 360px;
}

.principal figure img{
    width: 100%;
}

.principal h1{
    font-size: 29px;
    letter-spacing: 1.5px;
    font-weight: 800;
}

.principal .buttons{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.principal .buttons div{
    margin: 5px 0;
    border-radius: 15px;
    cursor: pointer;
    transition: .5s;    
    width: max-content;
    align-self: center;
}

.principal .buttons button{
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: 800;
    width: 100%;
    font-size: 15px;
    width: 272px;
}

.principal .buttons div:nth-child(1){
    background-color: #58a700;
    padding-bottom: 3px;
}

.principal .buttons div:nth-child(1):hover{
    filter: brightness(1.2)
}

.principal .buttons div:nth-child(1) button{
    background-color: #58cc02;
}

.principal .buttons div:nth-child(2){
    background-color: #042c60;
    padding: 1px 2px;
}

.principal .buttons div:nth-child(2):hover{
    filter: brightness(0.9)
}

.principal .buttons div:nth-child(2) button{
    background-color: #235390;
}

@media screen and (min-width: 1065px){
    .principal{
      flex-direction: row;
      padding: 40px;
    }

    .principal figure{
        margin: 0;
        width: max-content;
        max-width: none;
    }
    
    .principal figure img{
        width: 360px;
    }

    .principal > div{
        margin: 72px 48px;
    }

    .principal > div h1{
        font-size: 26px;
    }
  }